[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
#url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
