<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    
    <link rel="stylesheet" href="/static/bootstrap-table-master/dist/bootstrap-table.min.css">

    <script src="/static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

   <script src="/static/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
</head>
<body>
 

 
 
<div class="container">
    <table data-toggle="table" class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
</div>
 <script >
   alert("gppd");
    
   var timer = setInterval(function(){
    doItPerSecond();
    },1000)
 
    var num = 0;
   function doItPerSecond() {
    //dosomething...
    num++;
    
     $.get("/polls/main", function(ret){
            console.log(ret)
        })

    
    console.log(num);
   }
   
</script>
</body>
</html>